/* === 共通 === */
body {
 margin: 0;
 padding: 0;
 line-height: 2;
 letter-spacing: 0.5px;
 box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, a {
 color: #000;
 text-decoration: none;
 margin: 0;
 padding: 0;
}

h2{
 text-align: center;
 border-bottom: 1px solid #31A263;
 margin-bottom: 20px;
}

li {
 list-style: none;
}

/* === ヘッダー === */
header {
 width: 100%;
 height: 80px;
 border-bottom: 2px solid #8A8A8A;
}

.header_wrapper {
 width: 500px;
 height: 80px;
 line-height: 80px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.header_wrapper img {
 height: 70%;
}

.header_btn {
 margin-left: auto;
 font-size: 14px;
}

/* === メイン === */
main {
 width: 100%;
 background: #fff;
 padding: 50px 0;
}

.mypage {
 width: 700px;
 margin: 0 auto;
 padding: 40px 30px;
 background: #fff;
 border-radius: 10px;
 box-shadow: 4px 4px 4px #8A8A8A;
 border: 1px solid #8A8A8A;
}

.mypage p{
 margin-top: 15px;
}

.mypage_container{
 display: flex;
 padding: 20px 30px;
}

.mypage_pic{
 width: 30%;
}

.mypage_pic img{
 width: 100%;
}

.mypage_info{
 width: 70%;
 padding-left: 50px;
}

.btn_container {
 text-align: center; 
 margin: 30px auto;
 width: 30%;
}

.btn_mid {
 width: 100%;
 color: #fff;
 background: #31A263;
 border-radius: 5px;
 display: block;
 font-size: 12px;
 border: 1px solid #dfdfdf;
 padding: 5px 10px;
 cursor: pointer;
 transition: .3s;
}

.btn_mid:hover{
 opacity: .7;
}


/* === フッター === */
footer {
 width: 100%;
 height: 50px;
 line-height: 50px;
 background: #fff;
 color: #8A8A8A;
 text-align: center;
 line-height: 50px;
 font-size: 13px;
 border-top: 2px solid #8A8A8A;
}